body {
    padding: 20px;
    background-color: #F2F2F2;
}

.layui-form-label {
    width: 100px !important;
}

.layui-input-block {
    display: -webkit-box !important;
}

.layui-table-tool-temp {
    padding-right: 0;
}

#payer,#create,#settleTime,#endResult {
    display: unset;
    width: 100px;
    margin-left: 5px;
}
#endResult {
    display: unset;
    width: 100px;
    margin-left: 5px;
    padding-left: 10px;
    color: #7d7d7d;
}

